<!DOCTYPE html>
<html>

<head>
    <title>Template</title>
    <link rel="stylesheet" href="css\webcss.css">
    <style>
        #grad1 {
            background-color: antiquewhite;
        }
        .cart-count {
          position: absolute;
        top: -8px;
        right: -8px;
        background: #ff8708;
        color: white;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 50%;
        font-weight: bold;
        }

    </style>
</head>

<body id="grad1">
    <div class="navbar">
  <div class="nav-left">
    <img src="images/logo.png" class="logoimg">
    <p class="logo"><b>WOOD <span style="color:black">STORE</span></b></p>
  </div>

  <div class="nav-center">
    <a href="/website">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/contact">CONTACT</a>
    <div class="dropdown">
      <a href="#">CATEGORIES ▼</a>
      <div class="dropdown-content">
        <a href="/category/4521">Bed</a>
        <a href="/category/3648">Dining</a>
        <a href="/category/1831">Living</a>
        <a href="/category/7895">Study</a>
      </div>
    </div>
  </div>

  <div class="nav-right">
  <a href="/cart" style="position: relative;">
    <img src="/images/img7c.png" alt="cart">
    <span class="cart-count" id="cart-count">0</span>
  </a>
  <a href="/login"><img src="/images/login1.png" alt="login"></a>
</div>

</div>

    <div class="d1">
        <h1 class="bd"><b>Shop Latest Furniture Collections</b></h1>
        <p class="cnt">Simplicity carried to an extreme becomes elegance!!</p>
        <a href="/products"><button type="button">Explore Now ➝</button></a>
    </div>
    <div class="d3">
        <h2>Our Featured Brands</h2>
        <p class="brand">IKEA</p>
        <p class="brand">SLEEPWELL</p>
        <p class="brand">GODREJ INTERIO</p>
        <p class="brand">WIPRO</p>
        <p class="brand">ROYALYOK</p>
        <p class="brand">SLEEPWOOD</p>
    </div>
    <img class="imagee" src="images\homepg.png" alt="left image">
<script>
  window.onload = function() {
    const userId = "9juh8p";
    fetch(`/cartitemcount/${userId}`)
      .then(res => res.json())
      .then(data => {
        document.getElementById("cart-count").innerText = data.count;
      });
  };
</script>

</body>
</html>
