<!DOCTYPE html>
<html>

<head>
    <title>Template</title>
    <link rel="stylesheet" href="css\webcss.css">
    <style>
        #grad1 {
            background-color: rgb(236, 156, 52);
        }
    </style>
</head>

<body id="grad1">

    <div class="navbar">
    <div class="links">
        <a href="home.html">HOME</a>
        <a href="about.html">ABOUT</a>
        <a href="contact.html">CONTACT</a>

        <div class="dropdown">
            <a href="prod.html">PRODUCTS ▾</a>
            <div class="dropdown-content">
                <a href="bed.html">Bed</a>
                <a href="dining.html">Dining</a>
                <a href="living.html">Living</a>
                <a href="study.html">Study</a>
            </div>
        </div>
    </div>

    <div class="d2">
        <a href="cart.html"><img src="images\img7c.png" alt="cart"></a>
        <a href="login.html"><img src="images\login1.png" alt="login"></a>
    </div>
</div>


    <div class="d1">
        <h1 class="bd"><b>Latest Furniture Collections</b></h1>
        <p class="cnt">Simplicity carried to an extreme becomes elegance!!</p>
        <a href="/products"><button type="button">Explore Now ➝</button></a>
    </div>

    <img class="dim-left" src="images\f2.png" alt="left image">
    <img class="dim" src="images\f1.png" alt="image">
</body>

</html>
